<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\mesas.css">
    <title>MESAS</title>
</head>

<body>
    <div class="container">
        <a href="/comandas1">
            <div class="square">
                <h1>MESA 1</h1>
            </div>
        </a>
        <a href="/comandas2">
            <div class="square">
                <h1>MESA 2</h1>
            </div>
        </a>
        <a href="/comandas3">
            <div class="square">
                <h1>MESA 3</h1>
            </div>
        </a>
        <a href="/comandas4">
            <div class="square">
                <h1>MESA 4</h1>
            </div>
        </a>
        <a href="/comandas5">
            <div class="square">
                <h1>MESA 5</h1>
            </div>
        </a>
        <a href="/comandas6">
            <div class="square">
                <h1>MESA 6</h1>
            </div>
        </a>
        <a href="/comandas7">
            <div class="square">
                <h1>MESA 7</h1>
            </div>
        </a>
        <a href="/comandas8">
            <div class="square">
                <h1>MESA 8</h1>
            </div>
        </a>
        <a href="/comandas9">
            <div class="square">
                <h1>MESA 9</h1>
            </div>
        </a>
        <a href="/comandas10">
            <div class="square">
                <h1>MESA 10</h1>
            </div>
        </a>
        <a href="/comandas11">
            <div class="square">
                <h1>MESA 11</h1>
            </div>
        </a>
        <a href="/comandas12">
            <div class="square">
                <h1>MESA 12</h1>
            </div>
        </a>
    </div>
</body>

</html>